<!DOCTYPE html>
<html lang="uk">
{% extends "base.html" %}

{% block title %}Головна{% endblock %}

{% block content %}
<h2 class="mb-4">Вітаємо на нашому сайті!</h2>
<p class="lead">
    На цьому сайті ви дізнаєтеся:
    Типи ножів – кухонні, мисливські, тактичні, складні та багато інших.
    Як обирати ніж – основні параметри, на які варто звернути увагу при покупці.
    Догляд за ножами – як заточувати та правильно зберігати ножі, щоб вони служили довго.
    Цей сайт допоможе вам краще зрозуміти світ ножів та вибрати інструмент, який найкраще підходить для ваших потреб!</p>
{% endblock %}

