<!DOCTYPE html>
<html lang="uk">
{% extends "base.html" %}
{% load static %}

{% block title %}Головна{% endblock %}

{% block content %}
<h2 class="mb-4">Вітаємо на нашому сайті!</h2>
<p class="lead">
    Ми — команда ентузіастів, які захоплюються мистецтвом створення якісних ножів. Від побутових кухонних до професійних мисливських — кожен наш ніж створений з увагою до деталей, ергономіки та довговічності.

Наша місія — забезпечити кожного клієнта надійним інструментом, який стане незамінним у повсякденному житті, на природі чи в колекції.

Ми співпрацюємо з перевіреними виробниками, використовуємо лише високоякісні матеріали та слідкуємо за новинками у сфері ножової індустрії. Крім продажу, ми ділимося корисними порадами, оглядами, і розвінчуємо міфи про ножі.

💬 Якщо у вас є питання або бажання замовити індивідуальний виріб — зв’яжіться з нами. Ми завжди раді допомогти.</p>
<div class="row text-center mt-5">
    <div class="col-md-4">
        <img src="{% static 'img/1.jpg' %}" class="img-fluid rounded shadow" alt="Ніж 1">
    </div>
    <div class="col-md-4">
        <img src="{% static 'img/2.jpg' %}" class="img-fluid rounded shadow" alt="Ніж 2">
    </div>
    <div class="col-md-4">
        <img src="{% static 'img/3.jpg' %}" class="img-fluid rounded shadow" alt="Ніж 3">
    </div>
</div>
{% endblock %}